.Header {
    background-color: rgb(0, 162, 232);
    color: white;
    width:100%;
    height: 500px;
    position: absolute;
    left: 0%;
    background-repeat: no-repeat;
    border-color: rgb(102, 150, 255);
    border: 5px;
    animation-name: example;
    animation-duration: 60s;
    animation-iteration-count: 30;

}

@keyframes example {
    0%   {background-image: url("./images/polymesh3.jpg");}
    25%  {background-image: url("./images/preview16.jpg");}
    50%  {background-image: url("./images/IMG_20220621_003235.jpg");}
    75%  {background-image: url("./images/light-blue-pattern-background.jpg");}
    100% {background-image: url("./images/polymesh3.jpg");}
}

.logo img {
    width: 250px;
    height: 120px;
    position: absolute;
    left: 50%;

}

.logo1 img {
    width: 320px;
    height: 420px;

    position: absolute;
   left: 0%;




}

.logo2 img {
    width: 300px;
    height: 80px;
    position: absolute;
    left: 0%;
    top: 420px;

}

.logo3 img {
    width: 550px;
    height: 400px;
    opacity: 0.8;
    position: absolute;
   left: 75%;
    top: 100px;

}

.logo4 img {
    width: 200px;
    height: 150px;
    position: absolute;
   left: 45%;
    top: 350px;

}



.a {
    position: absolute;
   left: 75%;
    list-style: none;

}

li {
    float: right;

}

li a {

    display: block;
    padding: 15px;
    background-color: #dddddd7c;
    color: blue;
}

.h2 {
    font-size: 35px;
    font-family: cursive;
    
    color: rgb(0, 0, 0);
    position: absolute;
    left: 42%;
    top: 200px;


}

.logo5 {
    width: 5px;
    height: 5px;
    position: absolute;
   left: 60%;
    top: 165px;
}

.logo6 {
    width: 50px;
    height: 5px;
    position: absolute;
   left: 60%;
    top: 370px;
}

.logo7 {
    width: 50px;
    height: 5px;
    position: absolute;
   left: 35%;
    top: 375px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=datetime-local],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.table {

    position: absolute;
   left: 18%;
    top: 250px;
    color: darkblue;
    font-size: 20px;
    background-blend-mode: darken;

}

input[id="sub"] {
    background-image: url("./images/search.png");
    width: 60px;
    height: 60px;
}

input[id="faree"] {

    position: absolute;
    top: 92%;
   left: 79%;
    background-color: none;
    background: none;
    font-family: cursive;
    font-size: 30px;
    color: rgb(72, 0, 241);
    border: none;


}

#holder {

   left: 0%;
    top: -1%;

}



.col {
    float: left;
}

.fare {
    position: absolute;
    top: 130px;
   left: 2%;
}

.A {
    position: absolute;
   left: 2%;
    top: 0%;
    list-style-type: none;

}

.srv {
    width: 100px;
    height: 100px;
    background-image: url("./images/Logo_service-593x400.png");
}

.B {
    position: absolute;
   left: 10%;
    top: 0%;
    list-style-type: none;

}

.srv1 {
    width: 100px;
    height: 100px;
    background-image: url("./images/logo_aminities.jpg");
}

.C {
    position: absolute;
   left: 18%;
    top: 0%;
    list-style-type: none;

}

.srv2 {
    width: 100px;
    height: 100px;
    background-image: url("./images/1000_F_428348424_oOtJbcodrO6Hpu3P3wRgc1LTUAeMI4Rw.jpg");
}


#acc1{
    
    position: absolute;top: 0px;margin-left: 90%;
    display: block;
    
}
#acc2{
    
    position: absolute;top: 4px;margin-left: 90%;
    display: none;
    
}
#acc3{
    
    position: absolute;top: 4px;margin-left: 90%;
    
}
#acc4{
    position: absolute;top: 10px;margin-left: 93%;
    color: blue;
    font-size: 50px;
    display: none;
}
#ivd{
    position: absolute;
   left: 18%;
    top: 330px;  
    font-size: 25px;
    color: rgb(156, 1, 1);
    display: none;
    
}






